*{
    box-sizing:border-box;
    margin:0;
}
body{
    font-family: "Nunito", sans-serif;
}
.header{
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}
.top-barranav{
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
}
.top-barranav .nav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}
.top-barranav .nav .nav-item .item-image{
    max-width: 50px ;
}
.top-barranav .nav .nav-item a{
    text-decoration: none;
    font-weight: 900;
    color: black;
}
.top-barranav .nav .nav-item a:hover{
    color:#006241
}
.cookie-banner{
    padding: 30px;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100;
    display: flex;
    background-color: white;
}
.banner-text-container{
    flex-grow: 1;
}
.cookie-banner .banner-text-bold{
    font-weight: bold;
}
.cookie-banner .banner-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cookie-banner .banner-button-container .banner-button{
    background-color: black;
    border: black solid;
    color: white;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
}
.invisible{
    display: none;
}
.footer{
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, .1);
    top: 0;
    background-color: white;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;

}
.footer_contactos{
    display:flex;
    gap: 40px;
    align-items: flex-start;
}

.footer .listas_footer{
    list-style: none;
    margin:0;

}
.footer .listas_footer li {
    margin-bottom: 10px;
}
.footer .listas_footer li a {
    text-decoration: none;
    color:#9d9e9f
}
.footer .listas_footer a:hover {
    color: black;
}

.footer .icons_footer{
    top: 0;
    background-color: white;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 30px;

}

.icons_list{
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
}
.icons_list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;

}

.footer .icons_footer .icons_list a{
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 20px;
}
