*{
    box-sizing:border-box;
    margin:0;
}
body{
    font-family: "Nunito", sans-serif;
}
.tarjetas{
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
#contenedor_tarjeta1{
    background-color: #1E3932;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contenedor_tarjeta1 .imagen{
    width:50%;
}
#contenedor_tarjeta1 .imagen .imagen_latte{
    max-width: 100%;
}

#contenedor_tarjeta2{
    background-color: #0044B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#contenedor_tarjeta2 .imagen{
    width:50%;
}
#contenedor_tarjeta2 .imagen .imagen_starbucks_rosa{
    max-width: 100%;
}
#contenedor_tarjeta3{
    background-color: #D50032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#contenedor_tarjeta3 .imagen{
    width:50%;
}
#contenedor_tarjeta3 .imagen .imagen_christmas_blend{
    max-width: 100%;
}

#contenedor_tarjeta4{
    background-color: #0044B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#contenedor_tarjeta4 .imagen{
    width:50%;
}
#contenedor_tarjeta4 .imagen .imagen_starbucks_rewards{
    max-width: 100%;
}

#contenedor_tarjeta5{
    background-color: #D50032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#contenedor_tarjeta5 .imagen{
    width:50%;
}
#contenedor_tarjeta5 .imagen .imagen_jettis{
    max-width: 100%;
}
.container-button{
    padding: 20px;
    margin-top: 30px;
}

.button_white{
    background-color: transparent;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer; 
    border: 1px white solid;
}
.button_white:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

#contenedor_tarjetasFinal{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px; 
    overflow: hidden;
}
.tarjeta_izq{
    background-color: #F6BFD9;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height:600px;
    min-height: 700px;
    overflow: hidden;

}

.tarjeta_izq .imagen{
    width: 100%; 
    height: 50%; 
    object-fit: cover; 
    display: block;  
}
.tarjeta_izq .imagen .imagen_noticias{
    max-width: 100%; 
    max-height: 150%;
    margin-bottom: 20px;
    object-fit: cover;
}
.tarjeta_izq .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 1; 
    padding: 130px; 
}

.tarjeta_izq .texto {
    color: #D50032;
    margin-bottom: 20px;
}
.button_tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-pink{
    width: 100%;
}

.button_pink{
    background-color: transparent;
    color: #D50032;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer; 
    border: 1px #D50032 solid;
}
.button_pink:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.tarjeta_der{
    background-color: #98CDE4;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height:600px;
    min-height: 700px;
    overflow: hidden;

}

.tarjeta_der .imagen{
    width: 100%; 
    height: 50%; 
    object-fit: cover; 
    display: block;  
}
.tarjeta_der .imagen .imagen_promociones{
    max-width: 100%; 
    max-height: 150%;
    margin-bottom: 20px;
    object-fit: cover;
}
.tarjeta_der .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 1; 
    padding: 160px; 
}

.tarjeta_der .texto {
    color: #003B49;
    margin-bottom: 20px;
}
.button_tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-blue{
    width: 100%;
}
.button_blue{
    background-color: transparent;
    color: #003B49;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer; 
    border: 1px #003B49 solid;
}
.button_blue:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}
.texto{
    color: white;
    text-align: center;
    width: 60%;
    font-size: 25px;
    margin: 0 50px;
}
.contenedor-interno{
    display: inline-block;
}